body{ 
	background-color: Orange ;
}
p{
	color: white;
}	
h1{ 
	color: red;
	padding:15px;
		border: 5px solid MediumTurquoise;
}
nav ul {

    list-style: none;
    background-color:rgb(60,60,60);
    border-radius: 6px;
    height: 50px;
}
nav li {
    display: inline-block;
    height: 100%;
}

nav li a {
    color: rgb(201,201,201);
    text-decoration: none;
    font-size: 22px;
    padding: 6px 12px;
    height: 100%;
    display: block;
    position: relative;
    top: 4px;
}

nav li a:hover {
    color: white;
}

.bar-graph {
	height: 50vh;
	width:50vwl;
	background-color:white;
}

.barHolder {
	height: 100%;
	width:30px;
	margin: 0 4px 0 0;
	vertical-align: bottom;
	float:left;
}

.bar {
	background: green;
	width:100%;
	vertical-align: bottom;
	float: left;
	float: left;
}

.alternateBar {
	width:100%;
	vertical-align: bottom;
	float: left;
}

.x-label {
	position: relative;
	top: 50px;
}

.x-labels {
	height:100px;
	position: relative;
	top: 100px;
}

.label {
	width: 34px;
	height: 34px;
	float: left;
	-webkit-transform: rotate(-90deg);
	text-align: right;
	padding: 0;
	margin: 0;
	white-space: nowrap;
}